body {
  width: 990px;
  margin: 0 auto;
}

#list li {
  list-style: none;
  width: 280px;
  margin: 2px;
  border: 1px solid black;
  padding: 10px;
  background: #dedede;
  float: left;
  min-height: 400px;
}

#list .starred {
  color: yellow;
  font-weight: bold;
}

#list .unstarred {
  color: red;
  font-weight: bold;
}

#list .out-of-stock {
  color: red;
}
